body {

    
}

.top-section {

    background-color: black;
}


.header {

    display: block;

}

.header-logo {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;

}

ol {

    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: flex-end;

}

li {

    margin: 5px;
    list-style-type: none;
    display: inline;

}

.lower-top-section {

    color: white;
    display: flex;
    flex-direction: column;
    

}

.ltst {

    display: inline;
    font-size: 30px;

}

button {

    background-color: blue;
    color: white;

}

.random-info {

    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: bolder;

}

.bottom-section {

    display: flex;    
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.quote {

    display: flex;
    display: wrap;

}

.join {

    background-color: blue;
    display: flex;
    justify-content: center;
    color: white;
}

.actual-footer {

    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}