body {

    
}

.top-section {

    display: flex;
    background-color: black;
}


.header {

    display: flex;
    flex-direction: row;

}

.header-logo {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color: white;
    font-weight: 900;
    font-size: larger;

}

ol {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style-type: none;
    gap: 16px;

}

ul {

    display: flex;
    justify-content: center;
    gap: 16px;

}

a {

    text-decoration: none;
}

li {

    margin: 5px;
    list-style-type: none;
    display: inline;

}

.lower-top-section {

    display: flex;
    color: white;
    
    }

.ltst2 {

    margin: auto;
    display: inline;
    font-size: 30px;

}

.ltsti {

    max-width: 100%;
    height: auto;
    justify-content: flex-end;
    
}

p {

    

}

.lower-middle-section {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.text {

    max-width: 150px;

}

.first-button {

    background-color: blue;
    color: white;
    display: inline;
    margin: auto;
    width: 70px;
    padding: 5px;
}

.second-button {

    background-color: blue;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10%;

}

.random-info {

    display: flex;
    justify-content: center;
    font-size: large;
    font-weight: 900;

}

.bottom-section {

    display: flex;    
    background-color: gray;
    justify-content: center;
    align-items: center;
    height: 100px;

}

.quote {

    display: flex;
    display: wrap;

}

.join {

    background-color: blue;
    display: flex;
    justify-content: center;
    color: white;
}

.actual-footer {

    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;

}